<div class="todo-container">
  <div class="row">
    <% @group_categories.each do |g| %>

      <div class="col-md-3">
        <ul class="todo-projects-container">
          <li class="todo-padding-b-0">
            <div class="todo-head">
              <h3>
                <%= link_to g[:name], g  %>
              </h3>
            </div>
          </li>
          <li class="todo-projects-item">
            <% g.categories.first(2).each do |c| %>
              <div class="">
                <h4>
                  <%= link_to c[:name], [c.group_category,  c]  %>
                </h4>
                <ul class="">                  
                  <% c.sub_categories.first(2).each do |s| %>
                    <li>
                      <%= link_to s[:name], [s.category.group_category,  s.category,  s]  %>
                    </li>
                  <% end %>            
                </ul>
              </div>
            <% end %>            
          </li>   
          <div class="todo-projects-divider"></div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>