<p id="notice"><%= notice %></p>

<div class="todo-container">
  <h2>
    <%= link_to @sub_categories.first.category.group_category[:name], [@sub_categories.first.category.group_category]  %>
  </h2>
  <h3>
    <%= link_to @sub_categories.first.category[:name], [@sub_categories.first.category.group_category, @sub_categories.first.category]  %>
  </h3>
  <div class="row">
    <% @sub_categories.each do |s| %>

      <div class="col-md-3">
        <ul class="todo-projects-container">
          <li class="todo-padding-b-0" style="padding: 5px 25px;">
            <div class="todo-head">
              <h4>
              <%= link_to s[:name], [s.category.group_category,  s.category,  s],  :style=>"font-size:15px;"%>
              </h4>
            </div>
          </li>         
          <div class="todo-projects-divider"></div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
