
<p id="notice"><%= notice %></p>

<div class="todo-container">
  <h1>
    <%= link_to @categories.first.group_category[:name], [@categories.first.group_category]  %>
  </h1>
  <div class="row">
    <% @categories.each do |c| %>

      <div class="col-md-3">
        <ul class="todo-projects-container">
          <li class="todo-padding-b-0">
            <div class="todo-head">
              <h3>
                <%= link_to c[:name], [c.group_category,  c]  %>
              </h3>
            </div>
          </li>
         <% c.sub_categories.each do |s| %>
            <li style="padding: 5px 7%;">
              <%= link_to s[:name], [s.category.group_category,  s.category,  s]  %>
            </li>
          <% end %> 
          <div class="todo-projects-divider"></div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
